<ion-view>
    <ion-content>
        <ion-nav-bar class = "bar-positive">
            <ion-nav-title>
               Connexion
            </ion-nav-title>
                     
            <ion-nav-buttons side = "primary">
               <button class = "button" ng-click="logout()" ng-controller="loginCtrl">
                    Deconnexion
               </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <div class="myWrapper">    
            <div class="myDiv">
                <div class="container">
                    <h3>Que faire ?</h3>
                    <form role="form" name="formTask" ng-submit="addTask(taskName)">
                        <div class="form-group row">
                            <input type="text" ng-model="taskName" placeholder="Tâche à accomplir" class="col-md-9 form-control"/>
                            <input type="submit" value="Ajouter" class="col-md-3 form-control btn btn-primary" />
                        </div>
                    </form>
                    <h3 class="display-5">Mes tâches : </h3> 
                
                
                    <div style="text-align: left;">
                        <div ng-repeat="dt in taskSet" ng-class="{barre : dt.done}" > 
                            <input type="checkbox"  ng-model="dt.done" ng-click="updateTask(dt)">
                            <span ng-bind="dt.name"></span><input type="button" class="supprTask" value="X" ng-click="removeTask(dt)"></br>                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>